@import './reset.css';

@import './setting.css';

body {
  min-height: 100vh;
  background-image: linear-gradient(135deg, transparent 0%, transparent 17%,rgba(87, 146, 234,0.6) 17%, rgba(87, 146, 234,0.6) 59%,transparent 59%, transparent 64%,rgba(34, 81, 222,0.6) 64%, rgba(34, 81, 222,0.6) 100%),linear-gradient(45deg, transparent 0%, transparent 2%,rgb(87, 146, 234) 2%, rgb(87, 146, 234) 46%,rgb(114, 178, 239) 46%, rgb(114, 178, 239) 54%,transparent 54%, transparent 63%,rgb(7, 48, 216) 63%, rgb(7, 48, 216) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

#wrap {
  /* height: 100%; */
}

#wrap > canvas {
  height: 100% !important;
}

#app {
  width: 100%;
  height: 100%;
  max-width: 576px;
  padding: 5rem 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#header {
  text-align: center;
}

#header img{
  max-width: 12rem;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
  box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.2);
}

#header p {
  font-size: 3.2rem;
  margin: 1rem 0 3.6rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,.8);
}

.socialList li {
  background-color: #fff;
  border-radius: .8rem;
  box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.1);
  transition: 300ms;
  overflow: hidden;
}

.socialList li:not(:last-child) {
  margin-bottom: 1.8rem;
}

.socialList li:last-child {
  margin-bottom: 50px;
}

.socialList li a {
  padding: 1.6rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#btnCopy > span {
  padding: 1.6rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.socialList #btnCopy:hover > span {
  background-color: rgba(179, 250, 255, 0.178);
}
#btnQr > span {
  padding: 1.6rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: #fff;
}
.socialList #btnQr:hover > span {
  background-color: rgba(179, 250, 255, 0.178);
}
.socialList li:hover {
  transform: translateY(-2px);
}

.socialList li:hover a {
  background-color: rgba(179, 250, 255, 0.178);
}


.socialList img {
  max-width: 24px;
  margin-right: 1.6rem;
}

.socialList span {
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
}

#footer {
  margin-top: auto;
  text-align: center;
}

.qrCode {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  transition: opacity 300ms;
  opacity: 0;
  pointer-events: none;
}

.qrCode.active {
  opacity: 1;
  pointer-events: initial;
}

